.input-wrapper{
  @include wrapper-template;
  margin-top: 30px;
}
.label{
  position: relative;
  &>input{
    width: 100%;
    @include row-template;
    padding-left: 60px;
    border: 1px solid $color-basic-60;
    color: $color-basic-50;
    &:focus{
      color: $color-input-white;
      background: $color-basic-80;
      border: 2px solid#535568;
    }
    &::placeholder{
      color: $color-basic-50;
      opacity: 1;
    }
    &:hover{
      color: $color-input-white;
      &::placeholder{
        color: $color-input-white;
        opacity: 1;
      }
    }
  }
  &>svg{
    top: 0px;
    left: 20px;  
    width: 20px;
    height: 20px;
    position: absolute;
  }
}