.item-wrapper{
  @include wrapper-template;
}
.position-absolute{
  position: absolute;
  z-index: 10;
  left: 20px;
  top: 20px;
}
.item{
  margin-top: 10px;
  position: relative;
  height: 60px;
  &__label{ 
      display: block;
      @include row-template;
      background: $color-basic-80;
      color: $color-task-white;
      padding-left: 60px;
      font-weight: 500;
    &>input{
      width: 100%;
      background: $color-basic-80;
      color: $color-task-white;
      outline: none;
      background: none;
      font-family: $font-inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
    }
    &-done{
      color: $color-basic-40;
      text-decoration: line-through;
    }
    &>svg{
      position: absolute;
      top: 24.17px;
      right: 24.17px;
    }
  }
  &-mask{
    width: 80%;
    height: 60px;
    position: absolute;
    left:60px;
  }

}