$color-basic-40:#9799AD;
$color-basic-50: #7A7C8D;
$color-basic-60: #67697A;
$color-basic-70: #535568;
$color-basic-80: #383A4C;
$color-basic-90: #222435;

$color-checkbox-selected: #4EA2FF;
$color-button-blue:#1E446E;
$color-task-white: #FFFFFF;
$color-input-white: #FAFAFD;

$font-inter: 'Inter', 'sans-serif';

