$color-backgraund-blue: #222435;
$color-grey-dark: #535568;
$color-input-text: #7A7C8D;
$color-delete-task:#9799AD;
$color-checkbox-checkout: #67697A;
$color-checkbox-selected: #4EA2FF;
$color-button-blue:#1E446E;
$color-task-white: #FFFFFF;
$color-input-white: #FAFAFD;

